:root {
    --hover-color: #99E89D;
    --main-color: #6db4f7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
}

html {
    background-color: #e8f1f2;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 25px;
    text-align: center;
    background-color: var(--main-color);
    color: #e8f1f2;
}

.h2-header {
    margin-bottom: 20px;
}

.h4-header {
    margin-bottom: 10px;
}

.input-header {
    width: 380px;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.button-header{
    background-color: #13293D;
    padding: 15px;
    color: white;
    width: 200px;
    border-radius: 10px;
}

.button-header:hover {
    background-color: var(--hover-color);
}


main {
    margin-top: 180px;
    margin-bottom: 150px;
    width: 100%;
    padding: 10px;
}


footer {
    color: #e8f1f2;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
    background-color: var(--main-color);
    padding: 20px;
}

.a-footer {
    color: #e8f1f2;
}

.a-footer:hover {
    font-weight: bold;
    font-style: italic;
    color: var(--hover-color);
}